<style>
    #nomargin {
        margin-top: 0px;
    }


    .logout{
        float: right;
    }



</style>


<ion-side-menus>

  <ion-side-menu-content>


    <ion-view view-title="Dashboard" name="dashboard-view">
      <ion-header-bar ng-click="toggleLeft()" class="bar bar-header bar-balanced">
        <button class="button button-clear ion-log-out" ng-click="logout()"> Logout</button>
        <h1 class="title">Dashboard</h1>
      </ion-header-bar>

      <ion-content class="padding">

        <div class="row">
          <div class="col text-center">
            <h3 class="title">Welcome {{username}}!</h3>
            This could be your Dashboard.
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col">
            <h5>Kit disponibili</h5>
            <div class="list">

              <a ng-repeat="(id,kit) in servizi.kit" class="item item-thumbnail-left" href="#">
                <img src="img/cover.jpg">
                <h2>{{id}}</h2>
                <p>{{kit.DES_TIPO_KIT}}</p>
                <p>€: {{kit.VAL_KIT}}</p>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <!--<p>-->
          <!--<button ng-click="openPopover($event)">Open Popover</button>-->
          <!--</p>-->
        </div>
      </ion-content>
    </ion-view>

  </ion-side-menu-content>

</ion-side-menus>
